<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/static/assets/vendors/aos/dist/aos.css/aos.css" />
    <link
      rel="stylesheet" href="/static/assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet" href="/static/assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- endinject -->
  </head>
  <style>
    .main-panel{
      position:relative;
      background:#fff!important;
    }
  </style>
  <body>
    <div class="container-scroller">
      <div class="main-panel">
        <header id="header">
          <div class="container">
            
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                  <li>
                  {% for i in postData %}
                    {{i.p_date}}
                  {% endfor %}
                    </li>
                  <li>30°C,London</li>
                  <li class="btn btn-primary p-1"><a style="font-weight:800;color:#000!important;" href="/Login">LOGIN</a></li>
                  <li class="btn btn-primary p-1 ml-3"><a style="font-weight:800;color:#000;" href="/SignUp">SIGN UP</a></li>
                </ul>
                <div>
                  <a class="navbar-brand" href="#"
                    ><img src="/static/assets/images/logo.svg" alt=""
                  /></a>
                </div>
                <div class="d-flex">
                  <ul class="navbar-right">
                    <li>
                      <a href="#">ENGLISH</a>
                    </li>
                    <li>
                      <a href="#">ESPAÑOL</a>
                    </li>
                  </ul>
                  <ul class="social-media">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                  
                </div>
              </div>
              {% include 'top_menu.html' %}
            </nav>
            {% comment %} <form method="post">
              {% csrf_token %}
            <div class="row">
              <div class="col-md-7 ml-3">
                <input type="text" class="form-control mb-2" name="search">
              </div>
              <div class="col-md-5">
                <input type="submit" class="form-control mb-2 btn btn-primary">
              </div>
            </div>
        </form> {% endcomment %}
            <!-- partial -->
          </div>
        </header>